.page {
    background: gray;
}
.container {
    background: white;
    padding: 20px;
    padding-bottom: 60px;
}
h1 {
    text-align: center;
    background: white;
    color: white;
    width: 100%;
}
img {
    float: left;
}